@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Staatliches&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #1B1B23 !important;
    color: #fff;
    width: 100% !important;
}

nav {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    width: 1240px;
    font-size: 16px;
    color: #fff;
    z-index: 100;
}

.nav-center, .nav-right {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

    .nav-center span, .nav-right span {
        margin-left: 17px;
    }

.btn-main:hover {
    background-color: #d62823;
    transition: 0.3s;
    cursor: pointer;
}

nav a.nav-link-my {
    display: inline-block;
    position: relative;
    color: #fff;
    text-decoration: none;
    padding-bottom: 4px;
}

    nav a.nav-link-my::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #d62823;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }

    nav a.nav-link-my:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

.btn-main {
    border: 1px solid #d62823;
    border-radius: 30px;
    padding: 16px 30px;
    color: #fff;
    background: transparent !important;
    transition: 0.3s;
}


.btn-main a {
    color: #fff;
    text-decoration: none;
}

.btn-main.full:hover {
     background: #d62923bd;
}

.hero {
    background-image: url("./images/hero.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: darken;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero-wrap1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-header {
    font-family: 'Staatliches', sans-serif;
    font-size: 130px;
    line-height: 80%;
    max-width: 650px;
    color: #fff;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

.outline {
    -webkit-text-stroke: 2px #d62823;
    color: transparent;
}

.header-p {
    font-size: 24px;
    line-height: 80%;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 30px;
}

.btn-main.full {
    background: #d62823;
}

.hero .btn-main {
    padding: 20px 75px;
}

@-webkit-keyframes ani-mouse {
    0% {
        opacity: 1;
        top: 29%;
    }

    15% {
        opacity: 1;
        top: 50%;
    }

    50% {
        opacity: 0;
        top: 50%;
    }

    100% {
        opacity: 0;
        top: 29%;
    }
}

@-moz-keyframes ani-mouse {
    0% {
        opacity: 1;
        top: 29%;
    }

    15% {
        opacity: 1;
        top: 50%;
    }

    50% {
        opacity: 0;
        top: 50%;
    }

    100% {
        opacity: 0;
        top: 29%;
    }
}

@keyframes ani-mouse {
    0% {
        opacity: 1;
        top: 29%;
    }

    15% {
        opacity: 1;
        top: 50%;
    }

    50% {
        opacity: 0;
        top: 50%;
    }

    100% {
        opacity: 0;
        top: 29%;
    }
}

.scroll-btn {
    display: block;
    text-align: center;
    position: absolute;
    bottom: 0;
}

    .scroll-btn > * {
        display: inline-block;
        line-height: 18px;
        font-size: 13px;
        font-weight: normal;
        color: #7f8c8d;
        color: #ffffff;
    }

        .scroll-btn > *:hover,
        .scroll-btn > *:focus,
        .scroll-btn > *.active {
            color: #ffffff;
        }

        .scroll-btn > *:hover,
        .scroll-btn > *:focus,
        .scroll-btn > *:active,
        .scroll-btn > *.active {
            opacity: 0.8;
            filter: alpha(opacity=80);
        }

    .scroll-btn .mouse {
        position: relative;
        display: block;
        width: 35px;
        height: 55px;
        margin: 0 auto 20px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border: 3px solid #d62823;
        border-radius: 23px;
    }

        .scroll-btn .mouse > * {
            position: absolute;
            display: block;
            top: 29%;
            left: 50%;
            width: 8px;
            height: 8px;
            margin: -4px 0 0 -4px;
            background: white;
            border-radius: 50%;
            -webkit-animation: ani-mouse 2.5s linear infinite;
            -moz-animation: ani-mouse 2.5s linear infinite;
            animation: ani-mouse 2.5s linear infinite;
        }

.container-my {
    max-width: 1240px;
    margin: 0 auto;
}

.hiw {
    padding: 100px 0 0 0;
}

    .hiw h2 {
        color: #fff;
        text-align: center;
        font-family: 'Staatliches', sans-serif;
        margin-bottom: 100px;
        font-size: 64px;
    }

.red-h {
    color: #d62823;
}

.slide-my {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 100%;
    color: #fff;
}

    .slide-my p, .slide-my h3 {
        max-width: 300px;
        margin-left: 100px;
    }

    .slide-my h3 {
        font-size: 24px;
    }

.slide-my-sports {
    position: relative;
}

.carousel-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

    .carousel-content h2 {
        font-family: 'Staatliches', sans-serif;
        font-size: 64px;
        text-align: center;
        color: #d62823;
    }

    .carousel-content p {
        color: rgba(255, 255, 255, 0.8);
        font-size: 20px;
        max-width: 500px;
    }

div.s1 {
    background-image: url("./images/basketball.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: darken;
    height: 100vh;
}

div.s2 {
    background-image: url("./images/football.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: darken;
    height: 100vh;
}


.slide-my img {
    height: 100%;
}

.features {
    padding-top: 100px;
    max-width: 850px;
    margin: 30px auto 100px auto;
}

    .features h2 {
        color: #d62823;
        font-family: 'Staatliches', sans-serif;
        font-size: 64px;
        text-align: center;
        margin-bottom: 50px;
    }

.features-cards {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}

.features-card {
    width: 30%;
    max-height: 190px;
    background-color: #2F2E41;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 80px;
    transition: 0.3s all;
    cursor: pointer;
}

    .features-card:hover {
        transform: scale(1.1);
        transition: 0.3s all;
        -webkit-box-shadow: 0px 4px 25px 0px rgba(0,0,0,0.4);
        -moz-box-shadow: 0px 4px 25px 0px rgba(0,0,0,0.4);
        box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.4);
    }

    .features-card .card-subheading {
        font-family: 'Staatliches', sans-serif;
        font-size: 24px;
        color: #fff;
        text-align: center;
        margin-top: 26px;
    }

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 320px;
    width: 100%;
    background-color: #000;
    border-bottom: 5px solid #d62823;
}

.footer-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 30px;
    color: #fff;
}

    .footer-column a {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.7) !important;
    }

    .footer-column:first-child {
        color: rgba(255, 255, 255, 0.7) !important;
        font-size: 20px;
        letter-spacing: 2px;
    }

        .footer-column:first-child img {
            margin-bottom: 20px;
        }

    .footer-column:last-child h4 {
        font-size: 16px;
    }

    .footer-column:last-child h4 {
        align-self: flex-start;
    }

    .footer-column:last-child input {
        padding: 14px 10px;
        background-color: #000;
        border: 1px solid #d62823;
        border-radius: 10px 0 0 10px;
        color: #3E4B4B;
    }

        .footer-column:last-child input:focus {
            outline: none;
        }

    .footer-column:last-child a {
        border-radius: 0 10px 10px 0;
        border: 2px solid #d62823;
        padding: 14px 14px;
        background-color: #d62823;
        color: #000;
        text-decoration: none;
        margin-left: -6px;
    }

        .footer-column:last-child a:hover {
            background: #d62923bd;
            border-color: #d62923bd;
        }

    .footer-column:last-child input::placeholder {
        font-size: 15px;
    }

.social-icons {
    margin-top: 20px;
}

    .social-icons img {
        margin: 0 5px;
    }

.sign-nav {
    margin: auto;
}

.signin {
    height: 100vh;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signin-wrap {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    background-color: #1B1B23;
    -webkit-box-shadow: 0px 4px 25px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 4px 25px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.4);
    border-radius: 10px;
}

.left-img {
    background-image: url("./images/signimg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: darken;
    font-family: 'Staatliches', sans-serif;
    color: #d62823;
    text-align: center;
    font-size: 256px;
    border-radius: 10px 0 0 10px;
    flex: 1;
    min-height: 100%;
}

.right-img {
    background-image: url("./images/signimg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: darken;
    font-family: 'Staatliches', sans-serif;
    color: #d62823;
    text-align: center;
    font-size: 256px;
    border-radius: 0 10px 10px 0;
    flex: 1;
    min-height: 100%;
}

.right-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    flex: 1;
    min-height: 100%;
}

.left-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    flex: 1;
    min-height: 100%;
    border-radius: 0 10px 10px 0;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 50px;
}

    .input-container input {
        background: none;
        border: none;
        border-bottom: 1px solid #2F2E41;
        transition: 0.4s all;
        padding: 10px 20px;
        color: rgba(255, 255, 255, 0.7);
        font-size: 20px;
    }

        .input-container input:focus {
            border-bottom: 1px solid #d62823;
            outline: none;
            transition: 0.4s all;
        }

.redirect {
    text-decoration: underline;
    font-size: 20px;
    color: #ffffff94;
    position: absolute;
    bottom: 20px;
    left: 30px;
}

.redirect-signup {
    text-decoration: underline;
    font-size: 20px;
    color: #ffffff94;
    position: absolute;
    bottom: 20px;
    right: 30px;
}

.logedin {
    position: relative !important;
}

.feed {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

    .feed h2 {
        margin-bottom: 30px;
        font-size: 48px;
    }

.feed-wrap {
    width: 100%;
}

.card-match-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 40px 60px;
    font-size: 24px;
    background-color: #2F2E41;
    margin-bottom: 20px;
    position: relative;
}

.feed-wrap img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.left-feed {
    display: flex;
    align-items: center;
    justify-content: center;
}

.date {
    margin-right: 20px;
}

.right {
    width: 50%;
    height: 200px;
}

.edit-wrap {
    width: 100%;
    padding: 60px;
}

.sign-control[type="date"], .sign-control[type="time"], .sign-control[type="text"] {
    text-align: left;
    width: 100%;
    color: #757575;
}

.custom-select {
    min-width: 350px;
    position: relative;
}

    .custom-select select:focus {
        outline: none;
    }

select {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    font-size: 1.15rem;
    padding: 0.675em 6em 0.675em 1em;
    background-color: #1B1B23;
    border: none;
    border-bottom: 1px solid #2F2E41;
    border-radius: 0.25rem;
    color: #757575;
    cursor: pointer;
}

.custom-select::before,
.custom-select::after {
    --size: 0.3rem;
    content: "";
    position: absolute;
    right: 1rem;
    pointer-events: none;
}

.custom-select::before {
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid black;
    top: 40%;
}

.custom-select::after {
    top: 55%;
}
